html{
    background-color: black
}

img{
    width: 100%;
    border: solid white 5px;
}

h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

p{ 
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}

div{
    width:50%;
    margin-left: 25%;
    margin-top: 10%;
}